<%- include('layout'); %>

<div class="container mt-2">
    <div class="accordion">
        <% Object.keys(data).forEach((item,i) => { %>
            <div class="accordion-item">
                <h2 class="accordion-header" id="a<%= i %>">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s<%= i %>" aria-expanded="true" aria-controls="s<%= i %>">
                        <%= item %>
                    </button>
                </h2>

                <div id="s<%= i %>" class="accordion-collapse collapse" aria-labelledby="a<%= i %>">
                    <div class="accordion-body">
                        <%= data[item].join(',') %>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>